# Title

In [1]:
import os, sys
import pandas as PD

In [2]:
BACKEND_PATH = os.path.dirname(os.path.dirname(os.getcwd()))
APPPROJ_PATH = os.path.join(BACKEND_PATH, 'app_proj')
sys.path.append(APPPROJ_PATH)
import notebooks as NT
print([x for x in dir(NT) if x[0]!='_' and len(x)>8])

['DataframeToDicts', 'GetRandom', 'NOTEBOOK_ENV']

In [3]:
MODULE_PATH = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(MODULE_PATH, 'data')
os.path.exists(DATA_PATH)

True

In [4]:
import django
os.environ['DEPLOYMENT_ENV'] = NT.NOTEBOOK_ENV
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'True'
os.chdir(os.path.dirname(MODULE_PATH))
django.setup()

env: DEV

In [5]:
import app_proj.excel_service as XS
print([x for x in dir(XS) if x[0]!='_' and len(x)>8])

['AppendToExcel', 'ReadSheet', 'ResetFile', 'ResetSheet']

In [6]:
DATA_PATH = os.path.join(MODULE_PATH, 'data')
print(DATA_PATH)

C:\Documents\Code\OpenStack\ThievesGuild\codebase\backend\emporium\data

In [7]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Begin Code

In [8]:
inputPath = os.path.join(DATA_PATH, 'CharacterNames.xlsx')
nameDf = XS.ReadSheet(inputPath, 'Names')
nameDf = nameDf.reset_index().drop(['index', 'Sort Letter', 'Unnamed: 2'], axis=1, errors='ignore')
nameDf = nameDf.dropna(axis=1, how='all')
nameDf

,Original,"Movie, Series","Artist, Music",Game,"Person, Religion",Location,Other
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aelix,Agathor,Abramson,Adjani,Abatu,Abydos,Abiggar
2,Afion,Akron,NaN,Alannon,Aleksios,NaN,Agramon
3,Altamira,NaN,NaN,Althea,Allocen,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
324,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,165,76,58,116,155,25,53

In [18]:
nameLs = nameDf.values.tolist()
characters = []

for rw in nameLs:
    for nm in rw:
        checkVal = str(nm)
        if not checkVal in ['nan', 'NaT', '<NA>'] and not any(char.isdigit() for char in checkVal): 
            characters.append(nm)

sorted(characters)[10:30]

['Akron',
 'Alannon',
 'Aleksios',
 'Allocen',
 'Altamira',
 'Alteriel',
 'Althea',
 'Amaymon',
 'Amilyn',
 'Amonette',
 'Ancasta',
 'Anchylos',
 'Andramilin',
 'Andraste',
 'Androcine',
 'Angrath',
 'Anhur',
 'Anike',
 'Arawen',
 'Arcadia']