# Load Stage Tables

In [1]:
import os, sys
import pandas as PD

In [2]:
BACKEND_PATH = os.path.dirname(os.path.dirname(os.getcwd()))
APPPROJ_PATH = os.path.join(BACKEND_PATH, 'app_proj')
sys.path.append(APPPROJ_PATH)
import notebooks as NT
print([x for x in dir(NT) if x[0]!='_' and len(x)>8])

['DataframeToDicts', 'GetRandom', 'NOTEBOOK_ENV']

In [3]:
import django
os.environ['DEPLOYMENT_ENV'] = NT.NOTEBOOK_ENV
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'True'
MODULE_PATH = os.path.dirname(os.getcwd())
os.chdir(os.path.dirname(MODULE_PATH))
django.setup()

env: DEV

In [4]:
import database as DB
print([x for x in dir(DB) if x[0]!='_' and len(x)>8])

['BaseManager', 'DeleteTable', 'GetNativeTableCounts', 'GetTableCounts', 'GetTableDictionary', 'InsertBulk', 'InsertSingle']

In [5]:
import app_proj.excel_service as XS
print([x for x in dir(XS) if x[0]!='_' and len(x)>8])

['AppendToExcel', 'ReadSheet', 'ResetFile', 'ResetSheet']

In [6]:
DATA_PATH = os.path.join(MODULE_PATH, 'data')
print(DATA_PATH)

C:\Documents\Code\OpenStack\ThievesGuild\codebase\backend\emporium\data

In [7]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import IPython.display as DS 
from ipywidgets import IntProgress

### Trap

In [8]:
inputPath = os.path.join(DATA_PATH, 'StageData.xlsx')
loadDf = XS.ReadSheet(inputPath, 'Trap')
loadDf = loadDf.dropna(subset=['Name'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

72

In [9]:
DB.DeleteTable('emporium', 'Trap')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Trap', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Trap')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-4:]

table deleted
bulk inserted
records 72

,World,Level,Name,Trait,Skill,Success,Failure,Experience,Difficulty,Damage
68,3,8,Rat Swarm,Mig,Tra,"experience, pass","wound, pass",10,17,19
69,3,8,Gargoyle,Mig,Sab,"experience, pass","wound, pass",10,17,19
70,3,8,Sewer Grate,Mig,Tra,"experience, pass next","wound, pass",10,19,19
71,3,8,Idol,Mig,Per,"treasure, pass",pass,10,21,19

### Enemy

In [10]:
loadDf = XS.ReadSheet(inputPath, 'Enemy')
loadDf = loadDf.dropna(subset=['Name'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['Unnamed: 11', 'Unnamed: 12', 'check'], axis=1, errors='ignore')
loadDf.shape[0]

18

In [11]:
DB.DeleteTable('emporium', 'Enemy')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Enemy', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Enemy')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 18

,World,Level,Name,Trait,Skill,Success,Failure,Experience,Attack,Damage,Defense,Health
0,1,1,Vanguard,All,Fight,"experience, pass",knockout,13,2,8,13,11
1,1,1,Sorcerer,All,Fight,"experience, pass",knockout,13,3,10,12,9
2,1,1,Warden,All,Fight,"experience, pass",knockout,13,2,6,15,12
3,1,2,Vanguard,All,Fight,"experience, pass",knockout,13,3,8,13,11

### Gothic Tower

In [12]:
loadDf = XS.ReadSheet(inputPath, 'GothicTower')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['factor'], axis=1, errors='ignore')
loadDf.shape[0]

36

In [13]:
DB.DeleteTable('emporium', 'GothicTower')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'GothicTower', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'GothicTower')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-3:]

table deleted
bulk inserted
records 36

,Throne,StageNo,ObstaclesR1,LevelR1,ObstaclesR2,LevelR2,ObstaclesR3,LevelR3,ObstaclesR4,LevelR4,ObstaclesR5,LevelR5,Gold,Gems,Wood,Stone,Iron
33,3,10,6,7,7.0,7.0,7.0,8.0,None,None,None,None,359,13,101,0,0
34,3,11,7,8,8.0,7.0,7.0,8.0,None,None,None,None,386,14,109,0,0
35,3,12,8,7,9.0,8.0,8.0,7.0,None,None,None,None,414,15,117,0,0

### League Trial

In [14]:
loadDf = XS.ReadSheet(inputPath, 'LeagueTrial')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['factor'], axis=1, errors='ignore')
loadDf.shape[0]

18

In [15]:
DB.DeleteTable('emporium', 'LeagueTrial')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'LeagueTrial', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'LeagueTrial')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-3:]

table deleted
bulk inserted
records 18

,Throne,StageNo,ObstaclesR1,LevelR1,ObstaclesR2,LevelR2,ObstaclesR3,LevelR3,ObstaclesR4,LevelR4,ObstaclesR5,LevelR5,Gold,Gems,Wood,Stone,Iron
15,8,2,6,1,7.0,1.0,8.0,1.0,NaN,NaN,None,None,1280,46,310,172,86
16,9,1,6,1,7.0,1.0,8.0,1.0,NaN,NaN,None,None,1164,42,282,156,78
17,9,2,6,1,7.0,1.0,7.0,1.0,6.0,1.0,None,None,1397,50,338,187,94

### Dungeon

In [10]:
loadDf = XS.ReadSheet(inputPath, 'Dungeon')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['factor'], axis=1, errors='ignore')
loadDf#.shape[0]

,Throne,StageNo,ObstaclesR1,LevelR1,ObstaclesR2,LevelR2,ObstaclesR3,LevelR3,ObstaclesR4,LevelR4,ObstaclesR5,LevelR5,Gold,Gems,Wood,Stone,Iron
0,1.0,1.0,6.0,2.0,7.0,1.0,8.0,2.0,NaN,NaN,NaN,NaN,330.0,12.0,105.0,0.0,0.0
1,2.0,1.0,6.0,4.0,6.0,4.0,7.0,5.0,8.0,4.0,NaN,NaN,384.0,12.0,115.0,0.0,0.0
2,3.0,1.0,6.0,7.0,7.0,7.0,9.0,7.0,9.0,8.0,NaN,NaN,442.0,16.0,125.0,0.0,0.0
3,4.0,1.0,7.0,10.0,9.0,10.0,9.0,12.0,10.0,10.0,NaN,NaN,502.0,17.0,135.0,66.0,0.0
4,5.0,1.0,8.0,16.0,9.0,16.0,10.0,14.0,10.0,16.0,NaN,NaN,564.0,20.0,146.0,75.0,0.0
5,6.0,1.0,8.0,20.0,10.0,18.0,9.0,20.0,10.0,20.0,NaN,NaN,630.0,21.0,158.0,84.0,0.0

In [11]:
DB.DeleteTable('emporium', 'Dungeon')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Dungeon', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Dungeon')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-3:]

table deleted
bulk inserted
records 6

,Throne,StageNo,ObstaclesR1,LevelR1,ObstaclesR2,LevelR2,ObstaclesR3,LevelR3,ObstaclesR4,LevelR4,ObstaclesR5,LevelR5,Gold,Gems,Wood,Stone,Iron
3,4,1,7,10,9,10,9,12,10.0,10.0,None,None,502,17,135,66,0
4,5,1,8,16,9,16,10,14,10.0,16.0,None,None,564,20,146,75,0
5,6,1,8,20,10,18,9,20,10.0,20.0,None,None,630,21,158,84,0

### Campaign

In [16]:
loadDf = XS.ReadSheet(inputPath, 'Campaign')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['factor'], axis=1, errors='ignore')
loadDf.shape[0]

41

In [17]:
DB.DeleteTable('emporium', 'Campaign')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Campaign', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Campaign')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-3:]

table deleted
bulk inserted
records 41

,World,StageNo,ObstaclesR1,LevelR1,ObstaclesR2,LevelR2,ObstaclesR3,LevelR3,ObstaclesR4,LevelR4,ObstaclesR5,LevelR5,Gold,Gems,Wood,Stone,Iron
38,3,15,9,8,12.0,8.0,NaN,NaN,NaN,NaN,None,None,649,24,183,0,0
39,3,16,6,8,8.0,7.0,10.0,8.0,NaN,NaN,None,None,656,24,185,0,0
40,3,17,6,7,6.0,7.0,7.0,7.0,8.0,8.0,None,None,662,24,187,0,0

### Trial Day

In [18]:
loadDf = XS.ReadSheet(inputPath, 'TrialDay')
loadDf = loadDf.dropna(subset=['WeekDay'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

7

In [19]:
DB.DeleteTable('emporium', 'TrialDay')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'TrialDay', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'TrialDay')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 7

     WeekDay StageType
0     sunday       agi
1     monday       cun
2    tuesday       mig
3  wednesday    combat

### Expedition Level

In [20]:
loadDf = XS.ReadSheet(inputPath, 'ExpeditionLevel')
loadDf = loadDf.dropna(subset=['Throne'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

6

In [21]:
DB.DeleteTable('emporium', 'ExpeditionLevel')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'ExpeditionLevel', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'ExpeditionLevel')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 6

   Throne  Level Duration
0       1      1     1 hr
1       1      2     2 hr
2       2      4     3 hr
3       2      5     4 hr

### Expedition Type

In [22]:
loadDf = XS.ReadSheet(inputPath, 'ExpeditionType')
loadDf = loadDf.dropna(subset=['Type'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

8

In [23]:
DB.DeleteTable('emporium', 'ExpeditionType')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'ExpeditionType', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'ExpeditionType')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 8

,Type,MainTrait,SecondaryOne,SecondaryTwo,SecondaryThree,SkillOne,SkillTwo,SkillThree
0,agi cmb,agi,cun,mig,end,att + dmg + def,att + dmg + def,att + dmg + def
1,agi ski,agi,cun,mig,end,sab + per,per + tra,tra + sab
2,cun cmb,cun,mig,agi,end,att + dmg + def,att + dmg + def,att + dmg + def
3,cun ski,cun,mig,agi,end,sab + per,per + tra,tra + sab

In [24]:
# check all

infoLs = DB.GetTableCounts()
PD.DataFrame(infoLs)

      Module              Table  Count
0    members               User      2
1   emporium    UnlockableThief     12
2   emporium     UnlockableItem     72
3   emporium         ThiefLevel     12
4   emporium     ThroneUpgrades      9
5   emporium  SingletonUpgrades      9
6   emporium    StorageUpgrades      9
7   emporium    FactoryUpgrades      9
8   emporium               Trap     72
9   emporium              Enemy     18
10  emporium        GothicTower     36
11  emporium        LeagueTrial     18
12  emporium           Campaign     41
13  emporium           TrialDay      7
14  emporium    ExpeditionLevel      6
15  emporium     ExpeditionType      8
16    engine              Guild      1
17    engine       ThiefInGuild      6
18    engine        ItemInGuild     18
19    engine      ThiefUnlocked      0
20    engine       ItemUnlocked      0
21    engine         GuildStage     24
22    engine    GuildExpedition      5