# Load Stage Tables

In [1]:
import os, sys
import pandas as PD

In [2]:
BACKEND_PATH = os.path.dirname(os.path.dirname(os.getcwd()))
APPPROJ_PATH = os.path.join(BACKEND_PATH, 'app_proj')
sys.path.append(APPPROJ_PATH)
import notebooks as NT
print([x for x in dir(NT) if x[0]!='_' and len(x)>8])

['DataframeToDicts', 'GetRandom', 'NOTEBOOK_ENV']

In [3]:
import django
os.environ['DEPLOYMENT_ENV'] = NT.NOTEBOOK_ENV
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'True'
MODULE_PATH = os.path.dirname(os.getcwd())
os.chdir(os.path.dirname(MODULE_PATH))
django.setup()

env: DEV

In [4]:
import database as DB
print([x for x in dir(DB) if x[0]!='_' and len(x)>8])

['BaseManager', 'DeleteTable', 'GetNativeTableCounts', 'GetTableCounts', 'GetTableDictionary', 'InsertBulk', 'InsertSingle']

In [5]:
import app_proj.excel_service as XS
print([x for x in dir(XS) if x[0]!='_' and len(x)>8])

['AppendToExcel', 'ReadSheet', 'ResetFile', 'ResetSheet']

In [6]:
DATA_PATH = os.path.join(MODULE_PATH, 'data')
print(DATA_PATH)

C:\Documents\Code\OpenStack\ThievesGuild\codebase\backend\emporium\data

In [7]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import IPython.display as DS 
from ipywidgets import IntProgress

### Trap

In [8]:
inputPath = os.path.join(DATA_PATH, 'StageData.xlsx')
loadDf = XS.ReadSheet(inputPath, 'Trap')
loadDf = loadDf.dropna(subset=['Name'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

72

In [9]:
DB.DeleteTable('emporium', 'Trap')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Trap', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Trap')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-4:]

table deleted
bulk inserted
records 72

,World,Level,Name,Trait,Skill,Success,Failure,Experience,Difficulty,Damage
68,3,8,Rat Swarm,Mig,Tra,"experience, pass","wound, pass",17,17,19
69,3,8,Gargoyle,Mig,Sab,"experience, pass","wound, pass",17,17,19
70,3,8,Sewer Grate,Mig,Tra,"experience, pass next","wound, pass",17,19,19
71,3,8,Idol,Mig,Per,"treasure, pass",pass,17,21,19

### Enemy

In [10]:
loadDf = XS.ReadSheet(inputPath, 'Enemy')
loadDf = loadDf.dropna(subset=['Name'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['Unnamed: 11', 'Unnamed: 12', 'check'], axis=1, errors='ignore')
loadDf.shape[0]

18

In [11]:
DB.DeleteTable('emporium', 'Enemy')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Enemy', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Enemy')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 18

,World,Level,Name,Trait,Skill,Success,Failure,Experience,Attack,Damage,Defense,Health
0,1,1,Vanguard,All,Fight,"experience, pass",knockout,16,2,8,13,11
1,1,1,Sorcerer,All,Fight,"experience, pass",knockout,16,3,10,12,9
2,1,1,Warden,All,Fight,"experience, pass",knockout,16,2,6,15,12
3,1,2,Vanguard,All,Fight,"experience, pass",knockout,18,3,8,13,11

### Gothic Tower

In [12]:
loadDf = XS.ReadSheet(inputPath, 'GothicTower')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['Rank', 'factor'], axis=1, errors='ignore')
loadDf.shape[0]

36

In [13]:
DB.DeleteTable('emporium', 'GothicTower')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'GothicTower', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'GothicTower')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 36

,World,StageNo,ObstaclesL1,LevelLnd1,ObstaclesL2,LevelLnd2,ObstaclesL3,LevelLnd3,ObstaclesL4,LevelLnd4,ObstaclesL5,LevelLnd5,Gold,Stone,Gems
0,1,1,12,1,NaN,NaN,NaN,NaN,None,None,None,None,50,20,5
1,1,2,13,1,NaN,NaN,NaN,NaN,None,None,None,None,53,21,5
2,1,3,13,2,NaN,NaN,NaN,NaN,None,None,None,None,55,22,6
3,1,4,16,1,NaN,NaN,NaN,NaN,None,None,None,None,58,23,6

### League Trial

In [14]:
loadDf = XS.ReadSheet(inputPath, 'LeagueTrial')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['Rank', 'factor'], axis=1, errors='ignore')
loadDf.shape[0]

12

In [15]:
DB.DeleteTable('emporium', 'LeagueTrial')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'LeagueTrial', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'LeagueTrial')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-3:]

table deleted
bulk inserted
records 12

,World,StageNo,ObstaclesL1,LevelLnd1,ObstaclesL2,LevelLnd2,ObstaclesL3,LevelLnd3,ObstaclesL4,LevelLnd4,ObstaclesL5,LevelLnd5,Gold,Stone,Gems
9,5,2,16,1,15.0,1.0,None,None,None,None,None,None,322,146,12
10,6,1,14,1,16.0,1.0,None,None,None,None,None,None,325,150,13
11,6,2,15,1,17.0,1.0,None,None,None,None,None,None,351,162,14

### Dungeon

In [16]:
loadDf = XS.ReadSheet(inputPath, 'Dungeon')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['Rank', 'factor'], axis=1, errors='ignore')
loadDf#.shape[0]

,World,StageNo,DifficultyL1,DifficultyL2,DifficultyL3,DifficultyL4,DifficultyL5,Gold,Stone,Gems
0,2.0,1.0,easy,easy / med,med,NaN,NaN,493.0,205.0,6.0
1,3.0,1.0,easy,easy / med,med,NaN,NaN,538.0,230.0,7.0
2,4.0,1.0,easy,easy / med,easy / med,med,NaN,779.0,343.0,9.0
3,5.0,1.0,easy,easy / med,easy / med,med,NaN,843.0,381.0,10.0
4,6.0,1.0,easy,easy / med,easy / med,med,NaN,910.0,420.0,12.0

In [17]:
DB.DeleteTable('emporium', 'Dungeon')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Dungeon', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Dungeon')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')

table deleted
bulk inserted
records 5

,World,StageNo,DifficultyL1,DifficultyL2,DifficultyL3,DifficultyL4,DifficultyL5,Gold,Stone,Gems
0,2,1,easy,easy / med,med,None,None,493,205,6
1,3,1,easy,easy / med,med,None,None,538,230,7
2,4,1,easy,easy / med,easy / med,med,None,779,343,9
3,5,1,easy,easy / med,easy / med,med,None,843,381,10
4,6,1,easy,easy / med,easy / med,med,None,910,420,12

### Campaign

In [18]:
loadDf = XS.ReadSheet(inputPath, 'Campaign')
loadDf = loadDf.dropna(subset=['StageNo'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf = loadDf.drop(['Rank', 'factor'], axis=1, errors='ignore')
loadDf.shape[0]

41

In [19]:
DB.DeleteTable('emporium', 'Campaign')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'Campaign', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'Campaign')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[-3:]

table deleted
bulk inserted
records 41

,World,StageNo,DifficultyL1,DifficultyL2,DifficultyL3,DifficultyL4,DifficultyL5,Gold,Stone,Gems
38,3,15,med / hard,hard,med / hard,None,None,790,338,8
39,3,16,hard,hard,None,None,None,532,228,8
40,3,17,med / hard,hard,hard,None,None,806,346,8

### Trial Day

In [20]:
loadDf = XS.ReadSheet(inputPath, 'TrialDay')
loadDf = loadDf.dropna(subset=['WeekDay'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

7

In [21]:
DB.DeleteTable('emporium', 'TrialDay')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'TrialDay', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'TrialDay')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 7

     WeekDay StageType
0     sunday       agi
1     monday       cun
2    tuesday       mig
3  wednesday       cmb

### Expedition Level

In [22]:
loadDf = XS.ReadSheet(inputPath, 'ExpeditionLevel')
loadDf = loadDf.dropna(subset=['World'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

6

In [23]:
DB.DeleteTable('emporium', 'ExpeditionLevel')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'ExpeditionLevel', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'ExpeditionLevel')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 6

   World  Level Duration DurationMin
0      1      1     8 hr        3 hr
1      1      2     9 hr        4 hr
2      2      4    16 hr        5 hr
3      2      5    18 hr        6 hr

### Expedition Type

In [24]:
loadDf = XS.ReadSheet(inputPath, 'ExpeditionType')
loadDf = loadDf.dropna(subset=['Type'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

8

In [25]:
DB.DeleteTable('emporium', 'ExpeditionType')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'ExpeditionType', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'ExpeditionType')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 8

,Type,MainTrait,SecondaryOne,SecondaryTwo,SecondaryThree,SkillOne,SkillTwo,SkillThree
0,agi cmb,agi,cun,mig,end,att + dmg + def,att + dmg + def,att + dmg + def
1,agi ski,agi,cun,mig,end,sab + per,per + tra,tra + sab
2,cun cmb,cun,mig,agi,end,att + dmg + def,att + dmg + def,att + dmg + def
3,cun ski,cun,mig,agi,end,sab + per,per + tra,tra + sab

### Required Power

In [26]:
loadDf = XS.ReadSheet(inputPath, 'RequiredPower')
loadDf = loadDf.dropna(subset=['Level'])
loadDf = loadDf.reset_index().drop(['index'], axis=1, errors='ignore')
loadDf.shape[0]

48

In [27]:
DB.DeleteTable('emporium', 'RequiredPower')

loadLs = NT.DataframeToDicts(loadDf)
DB.InsertBulk('emporium', 'RequiredPower', loadLs)

checkLs = DB.GetTableDictionary('emporium', 'RequiredPower')
print('records', len(checkLs))
PD.DataFrame(checkLs).drop('id', axis=1, errors='ignore')[:4]

table deleted
bulk inserted
records 48

   World  Level  Obstacles  RequiredPower
0      1      1         12            110
1      1      1         13            130
2      1      1         14            140
3      1      1         15            150

In [28]:
# check all

infoLs = DB.GetTableCounts()
PD.DataFrame(infoLs)

      Module            Table  Count
0    members             User      1
1   emporium  UnlockableThief     12
2   emporium   UnlockableItem    201
3   emporium       ThiefLevel     12
4   emporium       CastleRoom     13
5   emporium      RoomUpgrade      9
6   emporium       UniqueRoom      9
7   emporium        BasicRoom      9
8   emporium     AdvancedRoom      9
9   emporium             Trap     72
10  emporium            Enemy     18
11  emporium      GothicTower     36
12  emporium      LeagueTrial     12
13  emporium          Dungeon      5
14  emporium         Campaign     41
15  emporium         TrialDay      7
16  emporium  ExpeditionLevel      6
17  emporium   ExpeditionType      8
18  emporium    RequiredPower     48
19    engine            Guild      2
20    engine     ThiefInGuild     12
21    engine      ItemInGuild     37
22    engine      RoomInGuild     11
23    engine    ThiefUnlocked      0
24    engine     ItemUnlocked      0
25    engine       GuildStage     42
26    engine  GuildExpedition      4
27    engine      MarketStore     13