# Dice Profiles

In [1]:
import os, sys, random, statistics
import pandas as PD

In [2]:
BACKEND_PATH = os.path.dirname(os.path.dirname(os.getcwd()))
APPPROJ_PATH = os.path.join(BACKEND_PATH, 'app_proj')
sys.path.append(APPPROJ_PATH)
import notebooks as NT
print([x for x in dir(NT) if x[0]!='_' and len(x)>8])

['DataframeToDicts', 'GetRandom', 'NOTEBOOK_ENV']

In [3]:
MODULE_PATH = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(MODULE_PATH, 'data')
os.path.exists(DATA_PATH)

True

In [4]:
import django
os.environ['DEPLOYMENT_ENV'] = NT.NOTEBOOK_ENV
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'True'
os.chdir(os.path.dirname(MODULE_PATH))
django.setup()

env: DEV

In [5]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Begin Code

In [6]:
diceConfigs = ['1d2', '1d3', '1d4', '1d6', '1d8', '1d10', '1d12', 
               '2d2', '2d3', '2d4', '2d6', '2d8', '2d10', '2d12',
               '3d2', '3d3', '3d4', '3d6', '3d8', '3d10', 
               '4d2', '4d3', '4d4', '4d6', '4d8',
               ]
len(diceConfigs)

25

In [7]:
TRIALS = 10000
profileLs = []

for dc in diceConfigs:

    cfg = dc.split('d')
    numberDice = int(cfg[0])
    dieType = int(cfg[1])

    resultLs = []
    for tr in range(0, TRIALS):
        totalRoll = 0
        for rl in range(0, numberDice):
            totalRoll += random.randint(1,dieType)
        resultLs.append(totalRoll)

    profileLs.append({
        'dice': dc,
#         'results': resultLs,
        'average': round(statistics.mean(resultLs),1),
        'min': min(resultLs),
        'max': max(resultLs),
    })

len(profileLs)

25

In [8]:
PD.DataFrame(profileLs).sort_values('average')

    dice  average  min  max
0    1d2      1.5    1    2
1    1d3      2.0    1    3
2    1d4      2.5    1    4
7    2d2      3.0    2    4
3    1d6      3.5    1    6
8    2d3      4.0    2    6
4    1d8      4.5    1    8
14   3d2      4.5    3    6
9    2d4      5.0    2    8
5   1d10      5.5    1   10
15   3d3      6.0    3    9
20   4d2      6.0    4    8
6   1d12      6.6    1   12
10   2d6      7.0    2   12
16   3d4      7.5    3   12
21   4d3      8.0    4   12
11   2d8      9.0    2   16
22   4d4     10.0    4   16
17   3d6     10.5    3   18
12  2d10     11.1    2   20
13  2d12     13.0    2   24
18   3d8     13.5    3   24
23   4d6     14.1    4   24
19  3d10     16.6    3   30
24   4d8     18.0    4   31

In [21]:
# D&D does 55%, AC starts at 10
# TG does 50%, DEF starts at 11

results = []

for tr in range(0, 100000):
    res = random.randint(1, 20)
    results.append( res >= 11 )

round(statistics.mean(results) *100, 1)

50.1