# Stage Challenge

**1.** Model the difficulty of a level with a formula. Doesn't have to be precise, but should allow comparison between number of  rooms in stage versus the number of obstacles in each room. 

**2.** Run the full matrix of possible room-obstacle configurations. Create a report file to reference later.

**3.** Create game stages (campaign, league, etc) based on stage configuration challenge values.

In [1]:
import os, sys, random, statistics
import pandas as PD

In [2]:
BACKEND_PATH = os.path.dirname(os.path.dirname(os.getcwd()))
APPPROJ_PATH = os.path.join(BACKEND_PATH, 'app_proj')
sys.path.append(APPPROJ_PATH)
import notebooks as NT
print([x for x in dir(NT) if x[0]!='_' and len(x)>8])

['DataframeToDicts', 'GetRandom', 'NOTEBOOK_ENV']

In [3]:
MODULE_PATH = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(MODULE_PATH, 'data')
print(DATA_PATH)

C:\Documents\Code\OpenStack\ThievesGuild\codebase\backend\emporium\data

In [4]:
import django
os.environ['DEPLOYMENT_ENV'] = NT.NOTEBOOK_ENV
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'True'
os.chdir(os.path.dirname(MODULE_PATH))
django.setup()

env: DEV

In [5]:
import app_proj.excel_service as XC
print([x for x in dir(XC) if x[0]!='_' and len(x)>8])

['AppendToExcel', 'ReadSheet', 'ResetFile', 'ResetSheet']

In [6]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Begin Code

In [7]:
stageRange = [
    {'rooms': 1, 'minObst': 12, 'maxObst': 19},
    {'rooms': 2, 'minObst': 12, 'maxObst': 19},
    {'rooms': 3, 'minObst': 12, 'maxObst': 19},
    {'rooms': 4, 'minObst': 12, 'maxObst': 19},
    {'rooms': 5, 'minObst': 12, 'maxObst': 19},
]
len(stageRange)

5

In [8]:
# 1 room

LEVEL_FACTOR = 1.2
configs1 = []
roomDx = stageRange[0]
for ob in range(roomDx['minObst'], roomDx['maxObst']+1):
    configs1.append([(ob, 1)])
    configs1.append([(ob, LEVEL_FACTOR)])

print('no doops:', len(configs1))
PD.DataFrame(configs1)

no doops: 16

            0
0     (12, 1)
1   (12, 1.2)
2     (13, 1)
3   (13, 1.2)
4     (14, 1)
5   (14, 1.2)
6     (15, 1)
7   (15, 1.2)
8     (16, 1)
9   (16, 1.2)
10    (17, 1)
11  (17, 1.2)
12    (18, 1)
13  (18, 1.2)
14    (19, 1)
15  (19, 1.2)

In [9]:
# 2 rooms

configs2 = []
roomDx = stageRange[1]
for ob1 in range(roomDx['minObst'], roomDx['maxObst']+1):

    base1 = [(ob1, 1)]
    for ob2 in range(roomDx['minObst'], roomDx['maxObst']+1):
        configs2.append(sorted(base1 + [(ob2, 1)]))
        configs2.append(sorted(base1 + [(ob2, LEVEL_FACTOR)]))

    base2 = [(ob1, LEVEL_FACTOR)]
    for ob2 in range(roomDx['minObst'], roomDx['maxObst']+1):
        configs2.append(sorted(base2 + [(ob2, 1)]))
        configs2.append(sorted(base2 + [(ob2, LEVEL_FACTOR)]))

print('full set:', len(configs2))
configDf = PD.DataFrame(configs2)
configDf = configDf.drop_duplicates()
configs2 = configDf.values.tolist()
print('no doops:', len(configs2))
#sorted(configs2)

full set: 256
no doops: 136

In [10]:
# 3 rooms

configs3 = []
roomDx = stageRange[2]
for ob1 in range(roomDx['minObst'], roomDx['maxObst']+1):

    base1 = [(ob1, 1)]
    for ob2 in range(roomDx['minObst'], roomDx['maxObst']+1):

        base2 = [(ob2, 1)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            configs3.append(sorted(base1 + base2 + [(ob3, 1)]))
            configs3.append(sorted(base1 + base2 + [(ob3, LEVEL_FACTOR)]))

        base2 = [(ob2, LEVEL_FACTOR)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            configs3.append(sorted(base1 + base2 + [(ob3, 1)]))
            configs3.append(sorted(base1 + base2 + [(ob3, LEVEL_FACTOR)]))

    base1 = [(ob1, LEVEL_FACTOR)]
    for ob2 in range(roomDx['minObst'], roomDx['maxObst']+1):

        base2 = [(ob2, 1)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            configs3.append(sorted(base1 + base2 + [(ob3, 1)]))
            configs3.append(sorted(base1 + base2 + [(ob3, LEVEL_FACTOR)]))

        base2 = [(ob2, LEVEL_FACTOR)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            configs3.append(sorted(base1 + base2 + [(ob3, 1)]))
            configs3.append(sorted(base1 + base2 + [(ob3, LEVEL_FACTOR)]))

print('full set:', len(configs3))
configDf = PD.DataFrame(configs3)
configDf = configDf.drop_duplicates()
configs3 = configDf.values.tolist()
print('no doops:', len(configs3))
#sorted(configs3)

full set: 4096
no doops: 816

In [11]:
# 4 rooms

configs4 = []
roomDx = stageRange[3]
for ob1 in range(roomDx['minObst'], roomDx['maxObst']+1):
    
    base1 = [(ob1, 1)]
    for ob2 in range(roomDx['minObst'], roomDx['maxObst']+1):
        
        base2 = [(ob2, 1)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            
            base3 = [(ob3, 1)]
            for ob4 in range(roomDx['minObst'], roomDx['maxObst']+1):
#                 configs4.append(sorted(base1 + base2 + base3 + [(ob4, 1)]))
                configs4.append(sorted(base1 + base2 + base3 + [(ob4, LEVEL_FACTOR)]))
        
#             base3 = [(ob3, LEVEL_FACTOR)]
#             for ob4 in range(roomDx['minObst'], roomDx['maxObst']+1):
#                 configs4.append(sorted(base1 + base2 + base3 + [(ob4, 1)]))
#                 configs4.append(sorted(base1 + base2 + base3 + [(ob4, LEVEL_FACTOR)]))

        base2 = [(ob2, LEVEL_FACTOR)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            
#             base3 = [(ob3, 1)]
#             for ob4 in range(roomDx['minObst'], roomDx['maxObst']+1):
#                 configs4.append(sorted(base1 + base2 + base3 + [(ob4, 1)]))
#                 configs4.append(sorted(base1 + base2 + base3 + [(ob4, LEVEL_FACTOR)]))
        
            base3 = [(ob3, LEVEL_FACTOR)]
            for ob4 in range(roomDx['minObst'], roomDx['maxObst']+1):
#                 configs4.append(sorted(base1 + base2 + base3 + [(ob4, 1)]))
                configs4.append(sorted(base1 + base2 + base3 + [(ob4, LEVEL_FACTOR)]))

print('full set:', len(configs4))
configDf = PD.DataFrame(configs4)
configDf = configDf.drop_duplicates()
configs4 = configDf.values.tolist()
print('no doops:', len(configs4))
#sorted(configs4)[:10]

full set: 8192
no doops: 1920

In [12]:
# 5 rooms

configs5 = []
roomDx = stageRange[4]
for ob1 in range(roomDx['minObst'], roomDx['maxObst']+1):
    
    base1 = [(ob1, 1)]
    for ob2 in range(roomDx['minObst'], roomDx['maxObst']+1):
        
        base2 = [(ob2, 1)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            
            base3 = [(ob3, 1)]
            for ob4 in range(roomDx['minObst'], roomDx['maxObst']+1):
                
                base4 = [(ob4, 1)]
                for ob5 in range(roomDx['minObst'], roomDx['maxObst']+1):
#                     configs5.append(sorted(base1 + base2 + base3 + base4 + [(ob5, 1)]))
                    configs5.append(sorted(base1 + base2 + base3 + base4 + [(ob5, LEVEL_FACTOR)]))

        base2 = [(ob2, LEVEL_FACTOR)]
        for ob3 in range(roomDx['minObst'], roomDx['maxObst']+1):
            
            base3 = [(ob3, LEVEL_FACTOR)]
            for ob4 in range(roomDx['minObst'], roomDx['maxObst']+1):

                base4 = [(ob4, LEVEL_FACTOR)]
                for ob5 in range(roomDx['minObst'], roomDx['maxObst']+1):
#                     configs5.append(sorted(base1 + base2 + base3 + base4 + [(ob5, 1)]))
                    configs5.append(sorted(base1 + base2 + base3 + base4 + [(ob5, LEVEL_FACTOR)]))

print('full set:', len(configs5))
configDf = PD.DataFrame(configs5)
configDf = configDf.drop_duplicates()
configs5 = configDf.values.tolist()
print('no doops:', len(configs5))
#sorted(configs5)[:10]

full set: 65536
no doops: 5280

In [13]:
# append the challenge to each config

challenges = []
configUnion = configs1 + configs2 + configs3 + configs4 + configs5

for cf in configUnion:
    
    challenge = 0
    for rm in cf:
        challenge += ((rm[0] +1) ** 1.3) * rm[1] 

    challenges.append({
        'rooms': cf,
        'challenge': int(f"{challenge*10:.0f}"),
    })

challenges = sorted(challenges, key=lambda x: x['challenge'])
print('all challenges:', len(challenges))
PD.DataFrame(challenges)[30:40]

all challenges: 8168

                     rooms  challenge
30    [(13, 1), (13, 1.2)]        680
31    [(12, 1), (14, 1.2)]        686
32    [(12, 1.2), (15, 1)]        704
33      [(14, 1), (15, 1)]        706
34      [(13, 1), (16, 1)]        707
35  [(12, 1.2), (13, 1.2)]        708
36      [(12, 1), (17, 1)]        709
37    [(13, 1.2), (14, 1)]        709
38    [(13, 1), (14, 1.2)]        715
39    [(12, 1), (15, 1.2)]        722

In [14]:
# convert to output schema

output = []
for ch in challenges:
    output.append({
        '1 obs': ch['rooms'][0][0],
        '1 diff': ch['rooms'][0][1],
        '2 obs': ch['rooms'][1][0] if len(ch['rooms'])>=2 else None,
        '2 diff': ch['rooms'][1][1] if len(ch['rooms'])>=2 else None,
        '3 obs': ch['rooms'][2][0] if len(ch['rooms'])>=3 else None,
        '3 diff': ch['rooms'][2][1] if len(ch['rooms'])>=3 else None,
        '4 obs': ch['rooms'][3][0] if len(ch['rooms'])>=4 else None,
        '4 diff': ch['rooms'][3][1] if len(ch['rooms'])>=4 else None,
        '5 obs': ch['rooms'][4][0] if len(ch['rooms'])>=5 else None,
        '5 diff': ch['rooms'][4][1] if len(ch['rooms'])>=5 else None,
        'rank': len(ch['rooms']),
        'challenge': ch['challenge'],
    })

PD.DataFrame(output)[:5]

,1 obs,1 diff,2 obs,2 diff,3 obs,3 diff,4 obs,4 diff,5 obs,5 diff,rank,challenge
0,12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,281
1,13,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,309
2,12,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,337
3,14,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,338
4,15,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,368

In [15]:
# output to excel

outputDf = PD.DataFrame(output)
outputDf = outputDf.sort_values(['challenge'])
sortedLs = NT.DataframeToDicts(outputDf)

sheetPath = os.path.join(DATA_PATH, 'EmporiumReports.xlsx')
XC.ResetFile(sheetPath)
# XC.ResetSheet(sheetPath, 'Stage Challenge')
XC.AppendToExcel(sheetPath, 'Stage Challenge', sortedLs)
print('output to excel')

output to excel