# Expedition

In [1]:
import os, sys
import pandas as PD

In [2]:
BACKEND_PATH = os.path.dirname(os.path.dirname(os.getcwd()))
APPPROJ_PATH = os.path.join(BACKEND_PATH, 'app_proj')
sys.path.append(APPPROJ_PATH)
import notebooks as NT
print([x for x in dir(NT) if x[0]!='_' and len(x)>8])

['DataframeToDicts', 'GetRandom', 'NOTEBOOK_ENV']

In [3]:
MODULE_PATH = os.path.dirname(os.getcwd())
DATA_PATH = os.path.join(MODULE_PATH, 'data')
os.path.exists(DATA_PATH)

True

In [4]:
import django
os.environ['DEPLOYMENT_ENV'] = NT.NOTEBOOK_ENV
os.environ['DJANGO_ALLOW_ASYNC_UNSAFE'] = 'True'
os.chdir(os.path.dirname(MODULE_PATH))
django.setup()

env: DEV

In [5]:
import django.db.models as JM
from django.contrib.auth import get_user_model
from django.utils import timezone

In [6]:
import database as DB
print([x for x in dir(DB) if x[0]!='_' and len(x)>8])

['BaseManager', 'DeleteTable', 'GetNativeTableCounts', 'GetTableCounts', 'GetTableDictionary', 'InsertBulk', 'InsertSingle']

In [7]:
import emporium.models as EM
import emporium.logic.guild as GD
import emporium.logic.stage as ST
import emporium.logic.simulation as SM
print([x for x in dir(EM) if x[0]!='_' and len(x)>8])

['ExpeditionLevel', 'ExpeditionType', 'FactoryUpgrades', 'GothicTower', 'LeagueTrial', 'SingletonUpgrades', 'StorageUpgrades', 'ThiefLevel', 'ThroneUpgrades', 'UnlockableItem', 'UnlockableThief']

In [8]:
import engine.models as GM
import engine.logic.resource as RS
import engine.logic.content as CT
import engine.logic.launcher as LH
import engine.logic.robot as RB
print([x for x in dir(GM) if x[0]!='_' and len(x)>8])

['GuildExpedition', 'GuildStage', 'ItemInGuild', 'ItemUnlocked', 'ThiefInGuild', 'ThiefUnlocked']

In [9]:
%load_ext autoreload
%autoreload 2
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Begin Code

In [55]:
expLs = DB.GetTableDictionary('engine', 'GuildExpedition')
PD.DataFrame(expLs)

,id,GuildFK_id,CreateDate,Level,BaseType,FullType,Duration,StartDate,ThiefFK_id,Results,Claimed
0,123,13,2024-07-18,2,cun cmb,2-cun cmb,1 min,2024-07-18 21:40:14+00:00,60,"{'passed': 11, 'grade': 'B', 'reward': {'categ...",True
1,124,13,2024-07-18,1,cun cmb,1-cun cmb,1 min,2024-07-18 21:40:17+00:00,59,"{'passed': 11, 'grade': 'B', 'reward': {'categ...",True
2,125,13,2024-07-18,1,mig cmb,1-mig cmb,1 min,2024-07-18 21:40:20+00:00,62,"{'passed': 11, 'grade': 'B', 'reward': {'categ...",True

In [51]:
DB.Delete Table('engine', 'GuildExpedition')

table deleted

In [26]:
editMd = GM.GuildExp edition.objects.GetOrNone(id=113)
editMd.CreateDate = '2024-07-17'
editMd.save()

AttributeError: 'NoneType' object has no attribute 'CreateDate'

In [54]:
table = DB.GetTableDictionary('engine', 'ThiefUnlocked')
PD.DataFrame(table)

table = DB.GetTableDictionary('engine', 'ItemUnlocked')
PD.DataFrame(table)

   id  GuildFK_id  ThiefFK_id
0   1          13         160
1   2          13         162

   id  GuildFK_id  ItemFK_id
0   1          13       1171
1   2          13       1169
2   3          13       1168
3   4          13       1175

In [53]:
table = DB.GetTableDictionary('emporium', 'UnlockableItem')
tableDf = PD.DataFrame(table)
tableDf[10:20]

,id,ResourceId,Name,Level,MagicLv,TotalLv,Slot,StoreCost,Requirement,Trait,Combat,Skill,EnchantmentList
10,1163,hands-cmb-l1-m0,Gauntlet,1,0,1,hands,800,None,None,dmg 1,None,None
11,1164,feet-cmb-l1-m0,Greaves,1,0,1,feet,800,None,None,att 1,None,None
12,1165,weapon-agi-l1-m1,Twin Daggers,1,1,2,weapon,1650,Burglar,agi 1,dmg 1,None,"dmg 1, def 1, per 5, tra 5"
13,1166,weapon-cun-l1-m1,Blackthorn,1,1,2,weapon,1650,Scoundrel,cun 1,att 2,None,"att 1, def 1, sab 5, tra 5"
14,1167,weapon-mig-l1-m1,Sword & Shield,1,1,2,weapon,1650,Ruffian,mig 1,att 3,None,"att 1, dmg 1, sab 5, per 5"
15,1168,armor-agi-l1-m1,Brigandine,1,1,2,armor,1650,Burglar,agi 1,def 3,None,"dmg 1, def 1, per 5, tra 5"
16,1169,armor-cun-l1-m1,Vestment,1,1,2,armor,1650,Scoundrel,cun 1,def 2,None,"att 1, def 1, sab 5, tra 5"
17,1170,armor-mig-l1-m1,Chain Maille,1,1,2,armor,1650,Ruffian,mig 1,def 1,None,"att 1, dmg 1, sab 5, per 5"
18,1171,head-skl-l1-m1,Cowl,1,1,2,head,1250,None,None,None,per 5,"agi 1, mig 1"
19,1172,hands-skl-l1-m1,Gloves,1,1,2,hands,1250,None,None,None,sab 5,"cun 1, mig 1"

In [52]:
table = DB.GetTableDictionary('engine', 'Guild')
tableDf = PD.DataFrame(table)
tableDf

,id,UserFK_id,Name,LastPlayed,CreateDate,Selected,ThroneLevel,CampaignWorld,TotalPower,MaxThieves,StorageGold,StorageGems,StorageWood,StorageStone,StorageIron,VaultGold,VaultGems,VaultWood,VaultStone,VaultIron
0,13,1,123,2024-06-27,2024-06-27,True,1,1,672,6,0,0,0,0,0,0,24,0,0,0